[Unit]
Description=Sends the CPU temperature through MQTT

[Service]
ExecStart=sudo /usr/bin/python3 /home/pi/Serban_Apostol/proba_practica.py
Restart=always

[Install]
WantedBy=multi-user.target
